body{
	background-color: #696969;
}
.popWindow h2{
    color: black;
    font-size: 30px;
    text-align: center;
    z-index: 10;
    position: relative;
}
a{
	background-color: #DCDCDC;
	padding: 20px 50px;
	border-radius: 10px;
	text-decoration: none;
	color: #fff;
}
.close-btn{
    float:right;
    font-size: 40px;
    line-height: 20px;
    cursor: pointer;
    color: rgb(34, 34, 34);
    padding: 10px;
}
.form-text{
	text-align:center;
	position:relative;
}
.thank-you-window{
    margin: auto;
    display: none;
    padding: 5px;
    height: 100px;
    width: 320px;
    box-shadow: 0 0 30px rgba(18, 17, 12, 0.5);
    background-color: #DCDCDC;
}
.thanks{
    font-size: 25px;
    text-align: center;
}
.popup-main-window{
    width: 360px;
}
.popup-overlay{
    display: none;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: #DCDCDC;
    z-index: 100;
}
.popWindow{
    display: none;
    margin: auto;
    max-width: 720px;
    padding-bottom: 20px;
    top:50%;
    left:50%;
    box-shadow: 0 0 30px rgba(18, 17, 12, 0.5);
    background-color: #DCDCDC;	
}